@media (max-width: 479px){
.cabecera label{
        display: block;
}
    .navlist{
    display: none;
}
.logo .development{
    display: none;
}

#btn-menu :checked ~ .navlistMovil{
    
    transform: translateX(0%) !important;
}


}
