@media (max-width: 479px)
{
.header{
        grid-template-columns: 30% 60% 10%;
}
.menuDesplegable label{
    display: block;
    position: absolute;
    cursor: pointer;
}

.navlist {
    display: flex;
    flex-direction: column;
    align-items: end;
    
}

.navlist ul{
    align-items: center;
    top: 50px;
   
}
.navlist ul li{
    color: black;
    width: 100%;
}
.logo .development{
   display: none;
}
.menuDesplegable .iconmenu{
   
    color:#ffffff;
    
}



.navlist ul{
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: absolute;
    border: 1px solid red;
    
}

.datosPersonales{
    align-content: flex-start;
}

.foto .fotoPersonal{
    height: 100px;
    width: 100px;
}
.henryCieza{
    font-family: 'Raleway', sans-serif;
    color: #000000;
    font-size: 1em;
}
.datosPersonales{
   display: flex;
   flex-direction: column;  
    
 }
.enlace{
    margin-top: 20px;
    margin-right: 5px;
  
}


}

