root {
    --cabecera-bg-color:#0d141c;
    --logo-bg-color:#fbb844;
    --cuerpo-bg-color:#ffffff;
    --body-bg-color:#bcbcbb;
    --texto-br-color:#ffffff;
  }
@media (max-width: 479px)

{
.cabecera .development{
    display: none;
}
.cabecera .navlist{
   /* display: none;*/
}
.cabecera label{
  display: block !important;
}
.gridMenu {
  grid-template-columns: 400px !important;
  grid-template-rows: 30%;
  text-align: center;
  background: blue;
  margin: 0;
  widows: 100%;
  top: 20px !important;
  /* padding: 20px 0px !important; */
}
#menuDisp {
  display: none;
  z-index: -100;
  margin-right: 48px;
  margin-top: -2px;
}

.menu {
  position: absolute;
  width: 250px;
  right: 0;
  top: 62px;
}
.menu {
  display: grid;
}
.gridMenu li {
  width: 100%;
  margin: 0px 0px !important;
  border-top: .5px solid #fff;
}
.gridMenu a {
  display: block;
  text-decoration: none;
}
.datosPersonales .foto .fotoPersonal{
    height: 150px;
    width: 130px;

}
.datosPersonales{
    flex-direction: column !important;
    height: 200px !important;
   
}
.enlace{
    margin-top: 80px;
}
.datosPersonales .foto{
    margin-top: 30px;
    text-align: center;
}
.gridMenu{
    grid-template-columns: 1fr !important;
    text-align: center;
    background:var(--logo-bg-color);
    margin: 0;
    width: 100%;
    top: 20px !important;
}
.menu {
    display: grid;
  }
  .gridMenu li {
    width: 100%;
    margin: 0px 0px !important;
  }
  .gridMenu a {
    display: block;
    text-decoration: none;
  }
  
}
@media (min-width: 821px) {
  #menuDisp {
    display: block !important;
    z-index: 0 !important;
  }
}