@import url(/css/movil.css);
@import url(/css/modo-dark.css);
:root {
    --cabecera-bg-color:#0d141c;
    --logo-bg-color:#fbb844;
    --cuerpo-bg-color:#ffffff;
    --body-bg-color:#bcbcbb;
    --texto-br-color:#ffffff;
  }
*{
    margin:0;
    padding:0;
    font-size: 1em;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;

}
body{
  
   background-color:var(--body-bg-color);
    width: 80vw;
    margin:0 auto;
   
 }
.contenedor{
    display: grid;
    grid-template-columns: 100%;
   /* grid-template-rows: 10vh 80vh 10vh;*/
   grid-template-rows: 60px 520px 60px;
}
/*************** CABECERA ********************/
.cabecera{
    background-color:var(--cabecera-bg-color);
    display: grid;
    grid-template-columns: 30% 65% 5%;
    grid-template-rows:50px;
    justify-content: center;
    align-content: center;
 
}
.logo{
    display: grid;
    grid-template-columns: 30% 70%;
    align-content: center;
    align-items: center;
    justify-items: center;
    
}
a .logo-personal{
    height: 50px;
    width: 50px;  
    margin: 0 20px 0 40px; 
     
}
.logo .development{
    color:var(--logo-bg-color);
    font-family: 'Abel', sans-serif;
    font-size: 1.3em;
    justify-self: start;
}
.navlist{
    display: block;
}
/************* MENU  ******************/
.theme-switch{
    margin-left: 20px;
    margin-top: 20px;
}
.cabecera label{
    
    background-color: var(--cuerpo-bg-color);
    padding: 10px;
    border-radius: 3%;
    align-self: center;
    justify-self: end;
    color: var(--logo-bg-color);
    margin-right: 10px;
    cursor: pointer;
}
.cabecera input{
   display: none;
}
.cabecera label{
    display: none;
}
.navlist .gridMenu{
    display:grid;
    grid-template-columns: repeat(4, 25%);
    /*justify-items: center;*/
    /*align-items: center;*/
     list-style-type: none;
     margin: 0;
     padding: 0;
 }
 
 .navlist .gridMenu li {
     cursor: pointer;
     padding: 1rem;
     flex: auto;
     text-align: center;
   }
  .navlist .gridMenu li:hover {
     background-color: #fbb844;
     color: white;
     width: 100%;
  }   
.gridMenu{
       /* height: 60px;*/
}
   .navlist a{
     color:var(--texto-br-color);
     text-transform: uppercase;
     text-decoration: none;
  
 }
/*************** CUERPO********************/
.cuerpo{
    background-color:var(--cuerpo-bg-color);
}
.datosPersonales{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 300px;

}
.datosPersonales .personalName{
    text-align: center;
    width: 100%;
}
.datosPersonales .foto{
    width: 50%;
}
.fotoPersonal{
    width: 220px;
    height: 250px;
    /*efecto*/
    box-shadow: 18px 10px 13px -5px rgba(188,188,187,0.82);
 }
 .henryCieza{
    font-family: 'Raleway', sans-serif;
    color: #000000;
    font-size: 2em;
}
.contenedor .enlace{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}
.cuerpo .enlace .contacto, .download{
    padding: 15px;
    font-family: 'Libre Franklin',sans-serif;
    color:var(--cuerpo-bg-color);
    background-color: var(--logo-bg-color);
    border: 1px solid #FFB300;
    border-radius: 5px;
    width: 150px;
    margin-top: 350px;
    text-decoration: none;
    margin-top: 40px;
    margin-right: 10px;
    text-align: center;
}

/*************** PIE ********************/
.pie{
    background-color: var(--cabecera-bg-color);
    display: grid;
    justify-items: center;

}
.redesSociales{
   display: flex;
   flex-direction: row;
   align-content: center;
   align-items: center;
   justify-content: center;
}
.rs{
    background-color: #fbb844;
    border-radius: 10px;
    height: 40px;
    width: 40px;
    margin: 10px;
}
.pie .redesSociales a img{
   height: 40px;
   width: 40px;
   border: 1px solid #fbb844;
   border-radius: 10px;
   
}

