@import url(/css/movil.css);

*{
    margin:0;
    padding:0;
    /*font-size: 1em;*/
    list-style: none;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;

}
body{
  
   background-color: #eff1f2; 
   width: 80vw;
   margin:0 auto;
  
}
.contenedor{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 50px 520px 70px;
}
.navlist{
    display: flex;
    flex-direction: column;
}
.navlist ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
 }
 

/*------- HEAD-------------*/
.header{
    background-color: #0d141c;
   
    /*------ DIVISION MENU------*/
    display: grid;
    grid-template-columns: 30% 65% 5%;
    grid-template-rows:50px;
    justify-content: center;
    /*height: 50px;*/
    /*position:fixed;*/
    /*z-index: 100;*/
    
    
}
.logo{
    display: grid;
    grid-template-columns: 30% 70%;
    align-content: center;
    align-items: center;
    justify-items: center;
    
}
.logo-personal{
    
    height: 50px;
    width: 50px;  
    margin: 0 20px 0 40px; 
     
}
.logo .development{
    color:#fbb844;
    font-family: 'Abel', sans-serif;
    font-size: 1.3em;
    justify-self: start;
}

.icon-menu{
    color:#ffffff;
}
#btn-menu{
    
  display: none;
    
}
/*----------- CUERPO ---------------*/
.cuerpo{
    display: grid;
    grid-template-columns: 100%;
    background-color: #ffffff;
    
    
 }
 .datosPersonales{
    display: grid;
    grid-template-columns: 60% 40%;
    align-content: center;
    justify-items: center;
    
 }

.personalName .henryCieza{
    font-family: 'Raleway', sans-serif;
    color: #000000;
    font-size: 4em;
}
.personalName .webDeveloper{
    font-family: 'Big Shoulders Display', cursive;
   
    color:#fbb844;
    text-align: end;
}
.personalName .imHC{
    font-family: 'Big Shoulders Display', cursive;
    font-size: 3em;
    color:#bcbcbb;
}
.fotoPersonal{
    width: 220px;
    height: 250px;
    /*efecto*/
    box-shadow: 18px 10px 13px -5px rgba(188,188,187,0.82);
   
   
}
.navlist ul{
   /* display: flex;*/
    list-style-type: none;
    margin: 0;
    padding: 0;
    
    
}

.navlist ul li {
    cursor: pointer;
    padding: 0.9rem;
    flex: auto;
    text-align: center;
  }
 .navlist ul li:hover {
    background-color: #fbb844;
    color: white;
    
 }   
.navlist a{

    /*color: #ffffff; */
    color: red;
    text-transform: uppercase;
    text-decoration: none;
    
    
    

}
/*------- CUERPO-------------*/

/*-------- BOTONES ------------*/
.enlace a{
    padding: 15px;
    text-decoration: none;
    font-family: 'Abel', sans-serif;
    font-size: 1.2em;
    color: #ffffff;
    background-color: #fbb844;
    border: 2px solid #ffffff;
    border-radius: 5px;
    width: 120px;
    margin-top: 350px;
    text-transform: uppercase;
    font-weight: bold;
    
}
.enlace{
    margin-top: 20px;
    margin-right: 10px;
    text-align: center;
}
/*------- FOOTER-------------*/
.footer{
    background-color:  #000000;
    display: grid;
    justify-items: center;

}
.redesSociales{
   display: flex;
   flex-direction: row;
   align-content: center;
   align-items: center;
   justify-content: center;
}
.rs{
    background-color: #fbb844;
    border-radius: 10px;
    height: 40px;
    width: 40px;
    margin: 10px;
}
.footer .redesSociales a img{
   height: 40px;
   width: 40px;
   border: 1px solid #fbb844;
   border-radius: 10px;
   
}